<ion-content>

  <ion-grid>

    <!-- Primera fila -->
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4">
        <!-- Tarjeta 1 -->
        <ion-card>
          <ion-card-header>
            Título Tarjeta 1
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido de la tarjeta -->
            <ion-row>
              <ion-col size="6">
                <ion-img src="ruta_de_la_imagen" alt="Descripción de la imagen"></ion-img>
              </ion-col>
              <ion-col size="6">
                Descripción de la tarjeta 1
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            Título Tarjeta 1
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido de la tarjeta -->
            <ion-row>
              <ion-col size="6">
                <ion-img src="ruta_de_la_imagen" alt="Descripción de la imagen"></ion-img>
              </ion-col>
              <ion-col size="6">
                Descripción de la tarjeta 1
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
  
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            Título Tarjeta 1
          </ion-card-header>
          <ion-card-content>
            <!-- Contenido de la tarjeta -->
            <ion-row>
              <ion-col size="12">
                <ion-img src="ruta_de_la_imagen" alt="Descripción de la imagen"></ion-img>
              </ion-col>
              <ion-col size="12">
                Descripción de la tarjeta 1
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
 
    <!-- Puedes seguir añadiendo más filas según sea necesario -->
  
  </ion-grid>

</ion-content>
